# CODING TASK #1. IMPORT DATASET AND PERFORM STATISTICAL DATA ANALYSIS

In [ ]:
# Updgrade Pandas version
!pip3 install pandas --upgrade

In [ ]:
# Updgrade Numpy version
!pip3 install numpy --upgrade

In [ ]:
!pip3 install seaborn --upgrade

In [ ]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib inline

In [ ]:
# Let's read a CSV file using Pandas as follows
hr_df = pd.read_csv('Human_Resources.csv')
hr_df

In [ ]:
# Let's obtain the data type 
type(hr_df)

In [ ]:
# you can view the first couple of rows using .head()
hr_df.head(4)

In [ ]:
# you can view the last couple of rows using .tail()
hr_df.tail(4)

In [ ]:
# Calculate the average values for employee_df dataframe
hr_df.mean()

In [ ]:
# 35 features in total, each contains 1470 data points
# No missing elements are present in the dataset
hr_df.info()

**PRACTICE OPPORTUNITY #1 [OPTIONAL]:**
- **Use any Pandas method to obtain a statistical summary of the data**
- **What is the mean, maximum and minimum employee age considered in this study?**

# CODING TASK #2. DEALING WITH MISSING DATA

In [ ]:
# first, let's locate rows that have Null values
hr_df.isnull()

In [ ]:
# first, let's locate rows that have Null values
hr_df.isnull().sum()

In [ ]:
# Drop any row that contains a Null value 
# Note that the size of the dataframe has been reduced by 7 elements
# Note that all will be used to drop rows that contains only Null values
hr_df.dropna(how = 'any', inplace = True)

In [ ]:
hr_df

In [ ]:
hr_df.isnull().sum()

In [ ]:
# Let's read a CSV file using Pandas as follows
hr_df = pd.read_csv('Human_Resources.csv')
hr_df

In [ ]:
# We can also indicate which columns we want to drop NaN from
hr_df.dropna(how = 'any', inplace = True, subset = ['MonthlyIncome', 'PercentSalaryHike'])

In [ ]:
hr_df

In [ ]:
# Let's read a CSV file using Pandas as follows
hr_df = pd.read_csv('Human_Resources.csv')
hr_df

In [ ]:
# Calculate the average monthly income
hr_df['MonthlyIncome'].mean()

In [ ]:
# You can use Fillna to fill a given column with a certain value
hr_df["MonthlyIncome"].fillna(hr_df['MonthlyIncome'].mean(), inplace = True)

In [ ]:
hr_df

**PRACTICE OPPORTUNITY #2 [OPTIONAL]:**
- **Calculate the median monthly rate. Use the calculated median values to fill out missing data. Confirm that the process is successful**

# CODING TASK #3: CHANGE PANDAS DATAFRAME DATATYPES

In [ ]:
# Let's read a CSV file using Pandas as follows
hr_df = pd.read_csv('Human_Resources.csv')
hr_df

In [ ]:
hr_df.info()

In [ ]:
# Let's convert the hourly rate from int64 to float64
hr_df["HourlyRate"] = hr_df["HourlyRate"].astype("float64")
hr_df.info()

In [ ]:
# Since we have limited number of classes, we can use the category datatype
# check the memory usage with the info method to ensure that the size has been reduced
hr_df["PerformanceRating"] = hr_df['PerformanceRating'].astype("category")
hr_df["RelationshipSatisfaction"] = hr_df['RelationshipSatisfaction'].astype("category")
hr_df

In [ ]:
# Notice the reduction in size
hr_df.info()

**PRACTICE OPPORTUNITY #3 [OPTIONAL]:**
- **Convert the BusinessTravel column to category format.** 
- **How many KBytes in memory have been saved?**

# CODING TASK #4. PANDAS WITH FUNCTIONS

In [ ]:
# Let's read a CSV file using Pandas as follows
hr_df = pd.read_csv('Human_Resources.csv')
hr_df

In [ ]:
# Let's assume the daily rate has increased by 10%
# Define a function that increases all clients networth by a fixed value of 10% (for simplicity sake) 
def dailrate_update(balance):
    return balance * 1.1 # assume that net worth increased by 10%

In [ ]:
# You can apply a function to the DataFrame 
hr_df['DailyRate'] = hr_df['DailyRate'].apply(dailrate_update)
hr_df

**PRACTICE OPPORTUNITY #4 [OPTIONAL]:**
- **Define a function that doubles the DailyRate and adds $100**
- **Apply the function to the DataFrame**
- **Calculate the updated total Daily Rate of all employees combined**

# CODING TASK #5. PANDAS OPERATIONS/FILTERING

In [ ]:
# Let's read a CSV file using Pandas as follows
hr_df = pd.read_csv('Human_Resources.csv')
hr_df

In [ ]:
# Pick certain rows that satisfy a certain criteria 
loyal_employees_df = hr_df[ (hr_df['YearsAtCompany'] >= 30) ]
loyal_employees_df

In [ ]:
# Pick certain rows that satisfy 2 or more critirea

mask_1 = hr_df['YearsAtCompany'] >= 30
mask_2 = hr_df['Department'] == 'Research & Development'

loyal_rnd_df = hr_df[mask_1 & mask_2 ]
loyal_rnd_df

In [ ]:
# Pick certain rows that satisfy a certain criteria 
fifty_df = hr_df[ (hr_df['Age'] == 50) ]
fifty_df

In [ ]:
# values that fall between a given range
hr_df[hr_df["DailyRate"].between(800, 850)]

In [ ]:
# Let's read a CSV file using Pandas as follows
hr_df = pd.read_csv('Human_Resources.csv')
hr_df

In [ ]:
# Drop duplicates
hr_df.drop_duplicates(inplace = True)

In [ ]:
hr_df

**PRACTICE OPPORTUNITY #5 [OPTIONAL]:**
- **Using "hr_df" DataFrame, leverage pandas operations to only select high DailyRate individuals (1450+)** 
- **What is the combined Daily Rate for all employees with 1450+?**

# CODING TASK #6: PERFORM EDA ON BOTH CLASSES

In [ ]:
hr_df

In [ ]:
# Let's read a CSV file using Pandas as follows
hr_df = pd.read_csv('Human_Resources.csv')
hr_df

In [ ]:
hr_df.info()

In [ ]:
# It makes sense to drop 'EmployeeCount', 'Standardhours' and 'Over18' since they do not change from one employee to the other
# Let's drop 'EmployeeNumber' as well
hr_df.drop(['EmployeeCount', 'StandardHours', 'Over18', 'EmployeeNumber'], axis=1, inplace=True)

In [ ]:
hr_df.info()

In [ ]:
# Let's see how many employees left the company! 
left_df = hr_df[hr_df['Attrition'] == 'Yes']

In [ ]:
# View employees who left
left_df

In [ ]:
left_df.describe()

**PRACTICE OPPORTUNITY #6 [OPTIONAL]:**
- **Filter the hr_df to only include the employees who stayed in the company**
- **Generate statistical summary for employees who stayed**
- **Compare both statistical summaries. What do you infer from the data?**

# CODING TASK #7: HISTOGRAM AND CORRELATION

In [ ]:
hr_df.hist(bins = 30, figsize = (20,20), color = 'r');
# Several features such as 'MonthlyIncome' and 'TotalWorkingYears' are tail heavy

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
correlations = hr_df.corr()
f, ax = plt.subplots(figsize = (20, 20))
sns.heatmap(correlations, annot = True)
# Job level is strongly correlated with total working hours
# Monthly income is strongly correlated with Job level
# Monthly income is strongly correlated with total working hours
# Age is stongly correlated with monthly income

**PRACTICE OPPORTUNITY #7 [OPTIONAL]:**
- **Change the color of the heatmap [External Research is Required]**
- **Plot only the lower half of the correlation matrix [External Research is Required]**

# EXCELLENT JOB!

# FINAL CAPSTONE PROJECT OVERVIEW

- In this project, we will perform basic Exploratory Data Analysis (EDA) on the Kyphosis disease Dataset. 
- Kyphosis is an abnormally excessive convex curvature of the spine. 
- Dataset contains 81 rows and 4 columns representing data on children who have had corrective spinal surgery. 
    - INPUTS: 1. Age: in months, 2. Number: the number of vertebrae involved, 3. Start: the number of the first (topmost) vertebra operated on.
    - OUTPUTS: Kyphosis which represents a factor with levels absent present indicating if a kyphosis (a type of deformation) was present after the operation.
- Using the “kyphosis.csv" included in the course package, write a python script to perform the following tasks:
    1. Import the “kyphosis.csv" file using Pandas
    2. Perform basic Exploratory Data Analysis (EDA) on the data       
    3. List the average, minimum and maximum age (in years) considered in this study using 2 methods
    4. Plot the correlation matrix 
    5. Convert the age column datatype from int64 to float64
    6. Define a function that converts age from months to years 
    7. Apply the function to the “Age” column and add the results into a new column entitled “Age in Years” 
    8. What are the features of the oldest and youngest child in this study?

# FINAL CAPSTONE PROJECT SOLUTION

In [ ]:
Kyphosis_df = pd.read_csv("kyphosis.csv")

In [ ]:
Kyphosis_df.head(10)

In [ ]:
Kyphosis_df.tail()

In [ ]:
Kyphosis_df.describe()

In [ ]:
Kyphosis_df['Age'].mean()/12

In [ ]:
Kyphosis_df['Age'].min()/12

In [ ]:
Kyphosis_df['Age'].max()/12

In [ ]:
Kyphosis_df.isnull().sum()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.heatmap(Kyphosis_df.corr(), annot=True);

In [ ]:
Kyphosis_df.info()

In [ ]:
# Let's convert the Age datatype from int64 to float64
Kyphosis_df["Age"] = Kyphosis_df["Age"].astype("float64")
Kyphosis_df.info()

In [ ]:
def month_to_year(age):
    return age /365

In [ ]:
# You can apply a function to the DataFrame 
Kyphosis_df['Age in Years'] = Kyphosis_df['Age'].apply(month_to_year)
Kyphosis_df

In [ ]:
# values that fall between a given range
Kyphosis_df[Kyphosis_df["Age"].between(2, 10)]

In [ ]:
Kyphosis_df[ Kyphosis_df["Age"] == Kyphosis_df["Age"].max() ]

In [ ]:
Kyphosis_df[ Kyphosis_df["Age"] == Kyphosis_df["Age"].min() ]

# PRACTICE OPPORTUNITIES SOLUTIONS

**PRACTICE OPPORTUNITY #1 SOLUTION:**
- **Use any Pandas method to obtain a statistical summary of the data**
- **What is the mean, maximum and minimum employee age considered in this study?**

In [ ]:
# Obtain statistical Summary 
hr_df.describe()

# average age = 37 years old
# min age = 18
# max age = 60

**PRACTICE OPPORTUNITY #2 SOLUTION:**
- **Calculate the median monthly rate. Use the calculated median values to fill out missing data. Confirm that the process is successful**

In [ ]:
# Let's read a CSV file using Pandas as follows
employee_df = pd.read_csv('Human_Resources.csv')
employee_df

In [ ]:
# first, let's locate rows that have Null values
employee_df.isnull().sum()

In [ ]:
# Calculate the average monthly income
employee_df['MonthlyRate'].median()

In [ ]:
# You can use Fillna to fill a given column with a certain value
employee_df['MonthlyRate'].fillna(employee_df['MonthlyRate'].median(), inplace = True)

In [ ]:
employee_df

In [ ]:
# first, let's locate rows that have Null values
employee_df.isnull().sum()

**PRACTICE OPPORTUNITY #3 SOLUTION:**
- **Convert the BusinessTravel column to category format.** 
- **How many KBytes in memory have been saved?**

In [ ]:
# Let's read a CSV file using Pandas as follows
employee_df = pd.read_csv('Human_Resources.csv')
employee_df.info()

In [ ]:
employee_df["BusinessTravel"] = employee_df['BusinessTravel'].astype("category")
employee_df.info()

In [ ]:
# 402.1+ KB vs. 392.1+ KB

**PRACTICE OPPORTUNITY #4 SOLUTION:**
- **Define a function that doubles the DailyRate and adds $100. Note that you need to load the original data again.**
- **Apply the function to the DataFrame**
- **Calculate the updated total Daily Rate of all employees combined**

In [ ]:
# Let's read a CSV file using Pandas as follows
hr_df = pd.read_csv('Human_Resources.csv')
hr_df

In [ ]:
def dailyrate_update(balance):
    return balance * 2 + 100 # assume that stock prices increased by 10%

In [ ]:
# You can apply a function to the DataFrame 
hr_df['DailyRate'] = hr_df['DailyRate'].apply(dailyrate_update)
hr_df

In [ ]:
# You can apply a function to the DataFrame 
results = hr_df['DailyRate'].apply(dailyrate_update)
results

In [ ]:
results.sum()

**PRACTICE OPPORTUNITY #5 SOLUTION:**
- **Using "hr_df" DataFrame, leverage pandas operations to only select high DailyRate individuals (1450+)** 
- **What is the combined Daily Rate for all employees with 1450+?**

In [ ]:
high_rate_df = hr_df[ (hr_df['DailyRate'] >= 1450) ]
high_rate_df

In [ ]:
high_rate_df['DailyRate'].sum()

**PRACTICE OPPORTUNITY #6 SOLUTION:**
- **Filter the hr_df to only include the employees who stayed in the company**
- **Generate statistical summary for employees who stayed**
- **Compare both statistical summaries. What do you infer from the data?**

In [ ]:
stayed_df = hr_df[hr_df['Attrition'] == 'No']

In [ ]:
# View employees who stayed
stayed_df

In [ ]:
stayed_df.describe()

In [ ]:
# Let's compare the mean and std of the employees who stayed and left 
# 'age': mean age of the employees who stayed is higher compared to who left
# 'DailyRate': Rate of employees who stayed is higher
# 'DistanceFromHome': Employees who stayed live closer to home 
# 'EnvironmentSatisfaction' & 'JobSatisfaction': Employees who stayed are generally more satisifed with their jobs
# 'StockOptionLevel': Employees who stayed tend to have higher stock option level

**PRACTICE OPPORTUNITY #7 SOLUTION:**
- **Change the color of the heatmap [External Research is Required]**
- **Plot only the lower half of the correlation matrix [External Research is Required]**

In [ ]:
np.ones_like(correlations, dtype=bool)

In [ ]:
mask = np.triu(np.ones_like(correlations, dtype=bool))
print(mask)

In [ ]:
# sns.set_theme(style="white")
import numpy as np

correlations = hr_df.corr()

# Create a mask
# np.triu returns copy of array with upper part of the triangle 
mask = np.triu(np.ones_like(correlations, dtype=bool))


f, ax = plt.subplots(figsize = (20, 20))
sns.heatmap(correlations, mask = mask, cmap="YlGnBu", annot = True);